head, body{
	padding: 0;
	margin: 0;
}
img{
	display: block;
	width: 100%;
}
.full-width{
	width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;
	max-width: 1920px;
}
.content, .full-width>div{
	/*max-width: 1000px;*/
	width: 100%;

}

.roundBorder{
	border-radius: 26px;
    transform: translateZ(0px);
}

.videoSection{
	position: relative;}

.bearSection{
	position: relative;
	overflow: hidden;
}

/*movie start*/
.movie1 {
    position: absolute;
	top: 33%;
	right: 71.3%;
    width: 16%;
    height: 61%;
}

.video-container {
 	position: relative;
 	padding-bottom: 465px;
 	height: 0;
	top: 0;
	left: 0;
 	overflow: hidden;	
    border-radius: 26px;
    transform: translateZ(0px);
}


.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
 	top: 0;
 	left: 0;
 	width: 308px;
 	height: 560px;
}


/*浮動CTA start*/
.floatingCta{
	position: fixed;
	width: 13.2%;
	bottom: 4%;
	left: 88%;
    z-index: 9999;
}

.floating{
	animation: float 1.1s infinite ease-in-out alternate;
}

@keyframes float {
    from {
        -webkit-transform: translateY(0.6vw);
        transform: translateY(0.6vw);
    }

    to {
        -webkit-transform: translateY(-0.6vw);
        transform: translateY(-0.6vw);
    }
}
/*浮動CTA end*/

.png_1 {
	position: absolute;
	width: 16.2%;
	bottom: -239.8%;
	left: 12.5%;
    z-index: 999;
}

.png_2 {
	position: absolute;
	width: 78%;
	top: 73%;
	left: 11.5%;
    z-index: 999;
}

.png_3 {
	position: absolute;
	height: 44.2%;
	bottom: 12%;
	left: 7.5%;
    z-index: 999;
}

.png_4 {
	position: absolute;
	width: 12.2%;
	bottom: 31%;
	left: 77.5%;
    z-index: 999;
}

.png_5 {
	position: absolute;
	width: 31.2%;
	bottom: 98%;
	left: 34.5%;
    z-index: 999;
}

.png_6 {
	position: absolute;
	width: 17%;
	bottom: 31%;
	left: 83%;
    z-index: 999;
}
